<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="suites.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.10.6/vue.min.js"></script>
  <script src="v-plangular.js"></script>
</head>
<body>

<header class="line">
	<div>
		<a id="soundcloud" href="https://soundcloud.com/s8es" target="_blank" alt="All song are provide by soundcloud"></a>
	</div>
	<div>
		<h1>S8ES</h1>
	</div>
	<div>
		<input id="search" placeholder="Search a tag" v-model="searchTags">
	</div>
</header>

<div id="slider" style="background: url(https://unsplash.it/1080/720?random) no-repeat center; background-size: cover;"></div>

<div>
	
	<div class="playlist" v-repeat="tag : tags | filterBy searchTags in tag_list" v-src="'{{tag.permalink_url}}'" v-component="plangular">

		
	    <h2 class="">{{title}}</h2>
	    <p>{{description}}</p>
	    <p>{{tag.tag_list}}</p>
	    <div class="line">
		    <div class="controls" class="">
		        <button class="button-icon" v-on="click: previous()">
		          <svg v-plangular-icon="'previous'"></svg>
		        </button>

		        <button class="h2 button-icon" v-on="click: playPause(player.playlistIndex)">
		          <svg v-if="player.tracks[player.i] != track || !player.playing" v-plangular-icon="'play'"></svg>
		          <svg v-if="player.tracks[player.i] == track && player.playing" v-plangular-icon="'pause'"></svg>
		        </button>

		        <button class="button-icon" v-on="click: next()">
		          <svg v-plangular-icon="'next'"></svg>
		        </button>

		    </div>

		    <small class="duration">{{ currentTime | prettyTime }} - {{ duration | prettyTime }}</small>
		</div>
	    
	    <div class="">
	        <div class="px1">
	          <progress value="{{ currentTime / duration || 0 }}"
	            v-on="click: seek($event)">
	            {{ currentTime / duration }}
	          </progress>
	        </div>
	    </div>
	  <div class="track" v-repeat="t : tracks" v-class="player.currentTrack == t ? 'current' : ''">
	    <span id="{{ t.id }}" class="block p1 nav-item"
	      v-on="click: playPause($index)">
	      <span class="mr1">{{ $index }}.</span>
	      {{ t.user.username }} - {{ t.title }}
	    </span>
	  </div>
	</div>
</div>

<script src="http://code.jquery.com/jquery-1.7.2.js"></script>
<script>

var url = 'https://api.soundcloud.com/users/57460460/playlists.json?client_id=e5f4f09d2b341a90da3eee85d92aa2b9';
var items = [];
var tag_list = [];

var playlistsJSON = {
  getPlaylists: function() {
    return $.getJSON(url).then(function(playlists) {
    	$( playlists ).each( function( key , playlist ) {
    		items.push( playlist.permalink_url ) ;
    	});
      return items;
    });
  }
};

playlistsJSON.getPlaylists().done(function( playlists ) {
  var vm = new Vue({ 
	el: 'body',
	data: {
 	   tags: playlists
  	}
 });
});

</script>
</body>
</html>